.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--nav-color);
    size: auto;
}

.header__image{
    width: 300px;
    height: 300px;
    filter: grayscale(90%);
    margin:0.5rem 1rem;
    
}


.index-module_type__1pV_J{
    font-family: 'Press Start 2P', cursive;
    color: var(--font-color)
}
.home-main{
    background-color: var(--nav-color);
    height: 100vh;
    display: flex;
    flex-direction:column;
    
}
.home__content{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    margin-left: 2.5rem;
    
    
}
.home__text{
    margin-left: 4rem;
}
