.header{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--nav-color);
    size: auto;
}

.header__image{
    max-width: 280px;
    max-height: 280px;
    filter: grayscale(90%);
    margin:0.5rem 1rem;
    
}


.index-module_type__1pV_J{
    font-family: 'Press Start 2P', cursive;
    color: var(--font-color)
}
.home-main{
    background-color: var(--nav-color);
    height: 100vh;
    display: flex;
    flex-direction:column;
    
}
.home__content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
    
}
