#navbar{
    background-color: var(--nav-color);
    position:sticky;
  
   
    
}

a.nav-link{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: var(--font-color)
}
a.navbar-brand{
    font-family: 'Press Start 2P', cursive;
    color: var(--font-color); 
    flex-grow: 2;
}


